.wrapper-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topBlock-app,
.optionsBlock-app {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 30px;
}

.middleBlock-app {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}
